<div class="row py-5">
    <div class="col-md-6 col-12">
        <div class="text-header">
            {{newsConten.header}}
        </div>
        <div class="title-date">
            {{newsConten.date}}
        </div>
        <div class="title-text">
            <a href="#" class="me-2" *ngFor="let tag of newsConten.tags">{{tag}},</a>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="news-img">
            <img src="{{newsConten.imgUrl}}" alt="">
        </div>
        <div class="news-text">
            {{newsConten.text}}
        </div>
        <div class="mt-5">
            <button class="btn btn-red"> Read more</button>
        </div>
    </div>
</div>
