.footer_bg{
    background-color: #ddd7d3 !important;
    margin-top: 128px;
    width: 100vw;
    max-width: 100vw;
    height: 428px;
    padding: 64px 32px;
}

.site_footer{
    height: 428px;
}

.footer_info{
    a{
        img{
            width: 165px;
            height: 40px;

        }
    }
}