<div class="site_footer">
    <div class="container-fluid footer_bg">
        <div class="row">
            <div class="col-6">
                <div class="footer_info">
                    <a href="https://www.pinterest.com/">
                        <img src="https://newsroom.pinterest.com/profiles/contrib/pin/badge-scriptmark.svg?dpid=b87e96f72885a90212a096f0452e8ed0"
                            alt="Pinterest" width="300" height="72">
                    </a>
                    <div class="mt-5 col-5">
                        <select class="form-select " id="select-js-language-block">
                            <option hreflang="en" class="en is-active" value="/en" selected="selected">English (US)
                            </option>
                            <option hreflang="de" class="de" value="/de">Deutsch</option>
                            <option hreflang="en-gb" class="en-gb" value="/en-gb">English (UK)</option>
                            <option hreflang="es" class="es" value="/es">Español</option>
                            <option hreflang="fr" class="fr" value="/fr">Français</option>
                            <option hreflang="pt-br" class="pt-br" value="/pt-br">Português (Brasil)</option>
                            <option hreflang="ja" class="ja" value="/ja">日本語</option>
                            <option hreflang="it" class="it" value="/it">Italiano</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <nav>
                            <div>
                                <h5>About us</h5>
                            </div>
                            <ul class="footer__menu__list">
                                <li class="footer__menu__item" data-country-code="DE">
                                    <a href="https://policy.pinterest.com/de/impressum"
                                        class="footer__menu__link">Impressum</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://about.pinterest.com" class="footer__menu__link">What's
                                        Pinterest</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://pinterest.com/pinterest" class="footer__menu__link">Our Pinterest
                                        page</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://medium.com/@Pinterest_Engineering"
                                        class="footer__menu__link">Engineering blog</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://business.pinterest.com/brand-guidelines"
                                        class="footer__menu__link">Brand guidelines</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://careers.pinterest.com" class="footer__menu__link">Careers</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://help.pinterest.com" class="footer__menu__link">Help Center</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://labs.pinterest.com" class="footer__menu__link">Pinterest Labs</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-6">
                        <nav class="">
                            <div class="">Our policies</div>
                            <ul class="footer__menu__list">
                                <li class="footer__menu__item">
                                    <a href="https://policy.pinterest.com/copyright">Copyright</a>
                                    <ul class="footer__submenu">
                                        <li class="footer__submenu__item">
                                            <a href="https://policy.pinterest.com/trademark"
                                                class="footer__submenu__link">trademark</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://help.pinterest.com/articles/personalized-ads-pinterest"
                                        class="footer__menu__link">Personalized ads</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://policy.pinterest.com/terms-of-service"
                                        class="footer__menu__link">Terms of service</a>
                                </li>
                                <li class="footer__menu__item">
                                    <a href="https://policy.pinterest.com/privacy-policy"
                                        class="footer__menu__link">Privacy</a>
                                    <span class="footer__menu__combinator">&amp;</span>
                                    <ul class="footer__submenu">
                                        <li class="footer__submenu__item">
                                            <a href="https://policy.pinterest.com/cookies"
                                                class="footer__submenu__link">cookies</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>