<div class="wBox mt-5">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="headline__title">Get in touch</h2>
            </div>
            <div class="col-6 text-tile__summary">
                <p>
                    <strong>Press requests</strong><br>
                    Email 
                    <a href="mailto:press@pinterest.com" class="spamspan">
                        press@pinterest.com
                    </a><br><em>Only
                        members of the press will receive&nbsp;a response. Visit our 
                        <a href="https://help.pinterest.com/" target="_blank" class="a-link--external">
                            Help Center
                            <span class="visually-hidden">(opens in a new window)</span>
                        </a> for all other inquiries.</em>
                </p>
                <p>
                    <strong>Request a speaker</strong><br>
                    Fill out our <a href="https://newsroom.pinterest.com/en/request-a-speaker">speaker form</a>
                </p>
                <p>
                    <strong>Subscribe</strong><br>
                    Get the <a href="https://newsroom.pinterest.com/en/subscribe/rss">RSS feed</a>
                </p>
            </div>
        </div>
    </div>
</div>