<app-news-header></app-news-header>
<div class="container-fluid">
    <div class="container">
        <mat-progress-bar class="my-2" mode="indeterminate" color="accent" *ngIf="topicLoading"></mat-progress-bar>
        <app-big-news [newsConten]="topicData"  *ngIf="!topicLoading"></app-big-news>
    </div>
    <app-break-bar></app-break-bar>

    <div class="container">
        <div class="row newsFeed-header mt-0">
            <div class="col-md-6">
                <h1>Latest News</h1>
            </div>
            <div class="col-md-3 offset-md-3">
                <a href="#" class="seeAll-link">See all</a>
            </div>
        </div>

        <div class="row">

            <form class="row">

                <div class="col-6 col-md-3">
                    <ul class="category-list">
                        <li class="dropdown">
                            <div class="input-group " id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <input type="text" class="form-control no-border-r " placeholder="Categories">
                                <span class="input-group-text input-group-text-BG"><i
                                        class="fas fa-chevron-down"></i></span>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li *ngFor="let cateOpt of categoriesOption">
                                    <a class="dropdown-item" href="#">{{cateOpt.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-4 col-md-2">
                    <ul class="category-list">
                        <li class="dropdown">
                            <div class="input-group" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                                <input type="text" class="form-control no-border-r" placeholder="Year">
                                <span class="input-group-text input-group-text-BG">
                                    <i class="fas fa-chevron-down"></i></span>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li *ngFor="let year of yearOption">
                                    <a class="dropdown-item" href="#">{{year}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </form>
        </div>

        <div class="row mt-5" >
            <!-- News Card -->
            <mat-progress-bar class="my-2" mode="indeterminate" color="accent" *ngIf="newsLoding"></mat-progress-bar>
            <div class="row" *ngIf="!newsLoding">
                <div  class="col-12 col-sm-6 col-md-3 mb-5 pb-5"  *ngFor="let obj of newsSlice">
                    <app-news-card [news]="obj"></app-news-card>
                </div>
            </div>
                
        </div>

        <div class="row">
            <div class="col-3 offset-9 my-5">
                <!-- Pagination -->
                <app-pagi-btn *ngIf="!newsLoding" [length]="newsData.length" [pageStart]="pageStart" [pageEnd]="pageEnd"  [pageSize]="pageSize" (onPageChange)="changePage($event)" ></app-pagi-btn>

            </div>
            
        </div>


    </div>

</div>

<app-get-in-touch-bar></app-get-in-touch-bar>